ul {
  width: 90%;
  height: 200px;
  overflow-y: auto;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

ul li {
  animation: showCards 0.3s ease-out;
}

.divButtons {
  padding: 2rem;
  display: flex;
  width: 75%;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  position: sticky;
  inset: 0%;
  margin: 0 auto;
  border-radius: 0 0 1rem 1rem;
  background-color: #ffff;
  box-shadow: var(--color-primary) 0px 0px 0px 3px;
}

.button1,
.divButtons .button2 {
  width: calc(120px / 2);
  height: calc(48px / 2);
  font-size: 12px;
}

.divNoCard {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
}

.noCard {
  display: flex;
  height: 400px;
  width: 100%;
  background-image: url(../../assets/NoCard.svg);
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  ul {
    height: 800px;
    width: 80%;
  }

  .button1,
  .divButtons .button2 {
    width: 120px;
    height: 48px;
    font-size: 16px;
  }
}

@media (min-width: 1023px) {
  ul {
    height: 800px;
    width: 100%;
  }
}

@media (width: 768px) {
  ul {
    width: 80%;
  }
}

@keyframes showCards {
  0% {
    transform: translateX(400px);
    opacity: 20%;
  }

  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}
